doctype
html
    head
        title React Redux Slider
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(rel="stylesheet", href="/static/css/style.css")
    body
        
        div(id="app")
        script(src="/static/bundle.js", type="text/javascript")